<form class="custom-dialog">
  <input
      type="hidden"
      name="rollLabel"
      value="{{label}}"
      data-dtype="String"
    />
  <div class="form-group">
    <label>{{label}}:</label>
    <input
      type="text"
      name="rollFormula"
      value="{{rollFormula}}"
      data-dtype="String"
    />
  </div>
  <div class="form-group">
    <label>{{localize 'BPNB_BORG.Labels.DR'}}:</label>
    <input
      type="text"
      name="rollDR"
      value="12"
      data-dtype="Number"
    />
  </div>
</form>