<form class="custom-dialog">
  <input type="hidden" name="itemid" value="{{itemId}}" />
  <input
      type="hidden"
      name="rollLabel"
      value="{{label}}"
      data-dtype="String"
    />
  <div class="form-group">
    <label>{{label}}:</label>
    <input
      type="text"
      name="rollFormula"
      value="{{rollFormula}}"
      data-dtype="String"
    />
  </div>
</form>